<!DOCTYPE html>
<html>

<head>
    <title>Page Not Found</title>
</head>

<body>
    <h1>Oops, we can't find what you were looking for...</h1>
    <div style="display: flex; justify-content: space-around;">
        <div>
            <p>But here is Stevie the rabbit:</p>
            <img src="static/error_images/stevie.jpg" alt="Stevie the rabbit" style="width: 400px; height: 300px;">
        </div>
        <div>
            <p>And this is Yoshi:</p>
            <img src="static/error_images/yoshi.jpg" alt="Yoshi the cat" style="width: 400px; height: 300px;">
        </div>
    </div>
</body>

</html>