{% extends 'base.html' %}

{% block content %}

<div class="card shadow-2-strong container-xl rounded-4">
  <div class="card-body p-5">
    <h3 class="mb-5">{% block title %} Log In {% endblock %}</h3>
    <form class="login-form" method="POST">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="email">Email Address</label>
            <input type="email" name="email_address" placeholder="Email Address" class="form-control" id="email" placeholder="Email Address" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" class="form-control" id="password" placeholder="Password" required>
        </div>
      </div>
      <div>
      <input class="checkbox mb-3" type="checkbox" name="remember" id="remember">
      <label for="remember">Remember me?</label>
      </div>
      <button class="btn btn-primary mb-3" style="background-color: #073253;" type="submit">Log In</button>
      <p class="message mb-3">Not registered? <a href="{{ url_for('auth.sign_up') }}">Create an account</a></p>
    </form>
  </div>
</div>

{% endblock %}  
