{% extends 'base.html' %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST">
      <input type="email" name="email_address" placeholder="email address"/>
      <input type="password" name= "password" placeholder="password"/>
      <input type="submit" value="Log in"/>
      <input type="checkbox" name="remember" id="remember">
      <label for="remember">Remember me?</label>
    </form>
    <p class="message">Not registered? <a href="{{ url_for('auth.sign_up') }}">Create an account</a></p>
  </div>
</div>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

    <div class="d-flex">
        <h1>{% block title %} Index {% endblock %}</h1>
        <h1>Hello World!</h1>
        <h2>Welcome to FlaskApp!</h2>
        <h3>{{ utc_dt }}</h3>
    </div>
{% endblock %}  
