<div class="signup-page">
  <div class="form">
    <form class="signup-form" method="post">
      <input type="text" name="first_name" placeholder="First Name"/>
      <input type="text" name="last_name" placeholder="Last Name"/>
      <input type="email" name="email_address" placeholder="email address"/>
      <input type="text" name="occupation" placeholder="occupation"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>

